<!DOCTYPE html>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
    <meta charset="UTF-8">
    <title>Moreco</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modules/listbox/icon_font/css/icon_font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modules/listbox/css/jquery.transfer.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/moreco.css') }}"/>
</head>



<body>
    <div id="transfer1" class="transfer-demo"></div>

    <input name='findmovie_button'
        type="button"
        value="Find Movies!"
        onclick="send_tags_to_server()"
    />
      
    <svg id="tagchart" width="600" height="400"></svg>

    <div id="main">
        <div id="sequence"></div>
        <div id="chart">
        <div id="explanation" style="visibility: hidden">
            <span id="percentage"></span><br/>
            Movie
        </div>
        </div>
    </div>
    <div id="sidebar">
        <input type="checkbox" id="togglelegend"> Legend<br/>
        <div id="legend" style="visibility: hidden;"></div>
    </div>

    <iframe id="trailer" width="450" height="250" style="visibility: hidden"></iframe>



</body>



<script type="text/javascript" src="{{ url_for('static', filename='modules/d3-lib/d3.v5.min.js') }}"></script>
<script src="{{ url_for('static', filename='modules/listbox/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='modules/listbox/js/jquery.transfer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='modules/spinner/spin.min.js') }}"></script>
<script src="https://d3js.org/d3-timer.v1.min.js"></script>
<script src="{{ url_for('static', filename='js/moreco.js') }}"></script>

