.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 2;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.transfer-demo {
  width: 1300px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  left: 30px;
  top: 50px;
}

input[name=findmovie_button] {
  font-size:24px;
  margin-left:175px;
  width:400px;
  height:50px;
  position: absolute;
  margin-top:440px;
}

.barchart {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  left: 10px;
  top: 600px;   
  z-index: 2;  
}
.dragndrop {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 510px;
}

.label {
  font-size: 20px;
}

.tooltip {	
  position: absolute;		
  color: white;	
  text-align: center;			
  width: 200px;					
  height: 30px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: black;	
  border: 0px;		
  border-radius: 20px;			
  pointer-events: none;			
  z-index: 5;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  left:830px;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 170px;
  left: 205px;
  width: 140px;
  text-align: center;
  color: #666;
  content: url('https://m.media-amazon.com/images/M/MV5BNTJjNmIzYWItNDE4OC00ZWQ3LWI0YzctODQyMTZjM2QxOWJhXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_UY268_CR2,0,182,268_AL_.jpg');
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}