.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 2;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.transfer-demo {
  width: 1300px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
}

input[name=findmovie_button] {
  font-size:24px;
  margin-left:175px;
  width:400px;
  height:50px;
  position: absolute;
  margin-top:400px;
}

.barchart {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  right:350px;
  top: 75px;     
}

.label {
  font-size: 20px;
}

.tooltip {	
  position: absolute;		
  color: white;	
  text-align: center;			
  width: 200px;					
  height: 30px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: black;	
  border: 0px;		
  border-radius: 20px;			
  pointer-events: none;			
}